Spīķeris
Raiņa parks
Alpīnisma siena LOC Manēžā
LOC Ledus  halle
Latvijas lielākās bungas
Stadions "Olimpija"
Liepājas bāka
Jūrmalas parka skeitparks
Kristapa Porziņģa basketbola laukums
Jaunākais viedais luksofors
Viedais luksofors
Stadions "Daugava"
Liepājas Lutera baznīca
Piemiņas zīme vācu filosofam Imanuelam Kantam
Karostas cietums
O.Kalpaka tilts
Dzintara pulkstenis
Skultpūra "Dzintara latvieši"
Liepājas Universitāte
Iekštelpu ekstrēmā sporta trase
Zirgu salas dabas taka
Skulptūra "Laivinieks"
LOC Baseins SPA
LOC Tenisa halle
Bērnu rotaļu laukums Jūrmalas parkā
Zinātnes un izglītības inovāciju centrs "ZIIC"
Liepājas Latviešu biedrības nams
Kultūras nams "Wiktorija"
Liepājas leļļu teātris
Liepājas muzejs
Liepājas teātris
Vecās ostmalas promenāde
Vēja māte
Jāņa Čakstes laukums
Rožu laukums
Juliannas pagalms
Mūziķu slavas aleja
Dabas māja
Spoku koks
Pētertirgus
Nosaukums "Liepāja" pludmalē
Romas dārzs
Svētā Jāzepa katedrāle
Svētā Trīsvienības katedrāle